* {
  box-sizing: border-box;
}

/* background-overlay-effect */

body {
  background: linear-gradient(
    rgba(130, 130, 130, .5),
    rgba(130, 130, 130, .5)),
    url("images/bg.jpg") no-repeat;
}

h2 {
  font-size: 1rem;
}

time {
  font-size: 0.6rem;
  text-align: left;
  font-style: italic;
}

p {
  font-size: 0.9rem;
}

.top-image {
  border: white solid 10px;
  overflow: hidden;
  height: 300px;


}

.top-image img {
  position: relative;
  right: 400px;
  bottom: 175px;
}

.top-image::after {
  content: '';
  background-image: url("images/grid.png");
  opacity: 0.5;
  position: absolute;
  width: 710px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 25px;
}

.article-modals {
  
}

.modal-card {
  background-color: white;
  color: black;
  height: 275px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  margin-top: 20px;


}
